@charset "utf-8";

body {
	background-color: #F1F2F2;
}

.info {
	background-color: rgba(29,29,30,1.00);
	color: #F1F2F2;
	padding-top:50px;
	padding-bottom:50px;
	margin-top:80px;
	margin-bottom:20px;	
}

.no-bullet{
	list-style:none; text-indent:0; padding-left:0;
}

.btn-reg:hover{
	transition-duration:0.5s;
	filter: brightness(150%);
}