@charset "utf-8";

body {
	background-color: #F5F5F5;
}

.info {
    background-color: rgba(29, 29, 30, 1.00);
    color: #F1F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.no-bullet {
    list-style: none;
    text-indent: 0;
    padding-left: 0;
}

.btn-reg:hover {
    transition-duration: 0.5s;
    filter: brightness(150%);
}

.alert {
    animation: linearwipe 1s steps(60, end);
}

@keyframes linearwipe {
    from {
        opacity: 0
    }
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: white;
}

.radio_check {
    display: none;
}

.radio_check + .pic_check {
    transition-duration: 0.2s;
    filter: brightness(60%);
}

.radio_check:checked + .pic_check {
    transition-duration: 0.2s;
    filter: brightness(100%);
}


/* profile */
.job-category-bold{
    font-weight: bold;
}

.job-category-pic{
    text-align: right;
}